<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
 <!--   <meta name="viewport" content="width=device-width, initial-scale=1"/>  -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <title>Документооборот</title>

    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/datatables/1.10.12/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href="css/my.css"/>
    <link rel="stylesheet" href="webjars/eonasdan-bootstrap-datetimepicker/4.17.43/build/css/bootstrap-datetimepicker.min.css" />

    <script src="webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="webjars/moment/2.15.2/min/moment.min.js"></script>
    <script src="webjars/moment/2.15.2/locale/ru.js"></script>
    <script src="webjars/eonasdan-bootstrap-datetimepicker/4.17.43/build/js/bootstrap-datetimepicker.min.js"></script>


    <script src="webjars/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="webjars/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>


</head>

<body>



<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Документы</a>




            <!--    <h4><span th:text="${doclist.email}">TITLE</span></h4>-->




             </div>

        <form class="navbar-form navbar-right"  action="logout" method="post">


            <button type="submit" class="btn btn-primary">Выйти</button>
        </form>
    </div>
</nav>


<div layout:fragment="content">

</div>


<footer class="footer">



    <div class="container">
        <p><a href="mailto:ordm67@gmail.com">Leonov Dmitry.</a></p>
    </div>
</footer>

<!-- <div th:replace="fragments/chat :: chat">&nbsp;</div>  -->

</body>
</html>